.grid {
  border: 2px solid lightgrey;
  display: inline-grid;
  height: 600px;
  width: 600px;

}

.grid-squares {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.control {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  gap: 5px;
}

.size {
  align-self: center;
}