.grid {
  border: 2px solid lightgrey;
  width: 70rem;
  height: fit-content;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  
}

.grid-squares {
    margin: 0;
    padding: 0;
}

.container {
    width: 80rem;
    height: 100vh;
    display: flex;
    justify-content: center;
}